h1 {
	color: pink;
}
#currentQuestion {
	height: 300px;
	width: 800px;
	background-color: #d6c7c7;
}

.hide {
	display: none;
}
img {
	position: absolute;
	/*if you change top left, change top and left of 
	beer and mug. Remember to include img value*/
	top: 200px;
	left: 200px;
}
#triviaBeerMug {
	z-index: 2;
	width: 200px;
	height: 200px;
}
#triviaBeer {
	z-index: 1;
	width: 125px;
	height: 0px;
	top: 282px;
	left: 205px;
	border-radius: 25px;
}