body {
	background-image: url("images/barRedLight.jpg");
}
h1 {
	text-align: center;
	font-size: 80px;
	text-shadow: 0 0 0.2em #E15C26, 0 0 0.2em #E15C26, 0 0 0.2em #E15C26, 0 0 0.2em #E15C26,0 0 0.2em #E15C26;
	font-family: 'Lobster', cursive;
	color: white;
	margin-bottom: 10px;
	margin-top: 10px;
}
#currentQuestion {
	height: 400px;
	/*width: 600px;*/
	background-color: black;
}
#startGame {
	font-family: 'Lobster', cursive;
	background-color: transparent;
	color: white;
	font-size: 30px;
	padding: 7px;
	border: 4px solid white;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
	width: 200px;
	text-shadow: 0 0 0.2em #E15C26, 0 0 0.2em #E15C26, 0 0 0.2em #E15C26,0 0 0.2em #E15C26;
}
div {
	/*question*/
	color: white;
	font-family: 'Forum', cursive;
	font-size: 40px;
	align-self: center;
}
p {
	color: white;
	font-family: 'Forum', cursive;
	font-size: 30px;
	display: inline;
}
input {
	color: white;
}

.hide {
	display: none;
}
img {
	/*^^^ NOT GOOD PRACTICE ^^^*/
	/*position: absolute;*/
	/*if you change top left, change top and left of 
	beer and mug. Remember to include img value*/
/*	top: 200px;
	left: 200px;*/
}
#triviaMug {
	position: absolute;
	z-index: 2;
	width: 400px;
	height: 400px;
}
#triviaBeer {
	position: absolute;
    z-index: 1;
    width: 235px;
    border-radius: 25px;
    bottom: 110px;
    left: 10px;
}
#beerMugTrivia {
	position: absolute;
	z-index: 3;
	width: 400px;
	height: 400px;
}
#timer {
	color: white;
	font-family: 'Lobster', cursive;
	margin: 0 auto;	
}
#homeLink {
	text-align: right;
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 50px;
	padding: 7px;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
	width: 450px;
	text-shadow: 0 0 0.2em #f6ff01, 0 0 0.2em #f6ff01;	
}
/*#beerMugTrivia {
	right: 800px;
}*/
#checkAnswerButton {
	font-family: 'Lobster', cursive;
	background-color: transparent;
	border: 4px solid white;
	font-size: 20px;
	color: white;
	text-shadow: 0 0 0.2em #E15C26, 0 0 0.2em #E15C26, 0 0 0.2em #E15C26,0 0 0.2em #E15C26;
}
#nextButton {
	font-family: 'Lobster', cursive;
	background-color: transparent;
	border: 4px solid white;
	font-size: 20px;
	color: white;
	text-shadow: 0 0 0.2em #E15C26, 0 0 0.2em #E15C26, 0 0 0.2em #E15C26,0 0 0.2em #E15C26;
}




